.App {
  text-align: center;
  display:flex;
  flex-direction: column;
  height:100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 50px;
}

.App-header {
  display:flex;
  flex-direction: row;
  background-color: #222;
  padding: .5em 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.details {
  flex:1;
  padding: 1em;
  display:flex;
  flex-direction: column;

  > *:not(:first-child) {
    margin-top:.5em;
  }
}